h1{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

.pStyle{
    font-family: 'Open Sans';
    font-size: 15px !important;
    font-weight: 700 !important;
}

.daftarFasilitasContainer{
    display: flex;
    flex-direction: row;
}

.fasilitasContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
}

.fasilitasDaftar{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 0px 5px 2px rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
}

.fasilitasIcon {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
}

@media screen and (max-width: 880px) {

    .fasilitasDaftar{
        margin: 10px;
    }    

    .daftarFasilitasContainer{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }

    p{
        font-size: 12px;
    }
    
}