.siteplanContainer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
}

.sitePlanBodyContainer{
    display: flex;
    flex-direction: row
}

.titleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-Items: center;
}

.siteplanPict{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit:cover
}

.siteplanText{
    font-weight: 300 !important;
    font-size: 22px;
}

.siPertegas{
    font-size: 34px;
    font-weight: 700;
}

.siteplanBiasa{
    padding: 20px;
}

.siteplanYangDisegerakan{
    position: relative;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
}

.siteplanSegera{
    position: absolute;
    top: -18px;
    right: 30px;
    background-color: #D7992B; 
    font-family: 'Oswald'; 
    border-radius: 4px;
    color: #fff;
    padding: 5px;
}

p{
    font-family: 'Oswald';
    font-size: 24px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.buttonContainerTop{
    display: flex;
    flex-direction: column;
    align-Items: start;
    justify-Content: start;
}

.sitePlanButton{
    height: 67px;
    width: 250px;
    margin-left: 20px;
    margin-top: 40px;
}


@media screen and (max-width: 880px) {

    .sitePlanBodyContainer{
        flex-direction: column
    }

    .siteplanYangDisegerakan{
        border-radius: 0px;
    }

    .buttonContainerTop{
        display: flex;
        flex-direction: column;
        align-Items: center;
        justify-Content: center;
    }

    .siPertegas{
        font-size: 30px;
    }

    .siteplanText{
        font-size: 16px;
    }

    .sitePlanButton{
        margin-left: 0px;
    }
    
}

@media screen and (max-width: 600px) {
    .googleMaps{
        height: 350;
    }
}