.navbarContainer{
    padding:20px
}

.navbarTitle{
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Oswald';
}

.navMenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-links {
    text-decoration: none;
    margin: 5px 10px;
}

.link-active{
    font-weight: bold;
    border-bottom: 3px solid #1E5B54;
    padding-bottom: 3px;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 1125px) {
    .navbarContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 0;
    }

    .navbarTitle{
        justify-content:start;
        font-size: 16px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: -10px;
        right: 0px;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .navMenuContainer{
        display: flex;
        flex-direction: column;
        /* width: 300px; */
        height: auto;
        position: absolute;
        padding-left: 0px;
        top: -100%;
        right: 0;
        opacity: 1%;
        transition: all 0.5s ease;
    }

    .navMenuContainer.active {
        background-color: #fff;
        padding-left: 10px;
        top: 48px;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 1;
    }

    .nav-links {
        text-align: right;
        font-size: 12px;
        margin: 10px;
        width: 100%;
        display: table;        
        background-color: #fff;
        border-radius: 0;
    }
    
    .nav-links:hover {      
        background-color: #fff;
    }
}